<div class="container">
    <div class="row">
        <div class="col-md-3">
            <mdb-accordion>
                <mdb-accordion-item>
                  <ng-template mdbAccordionItemHeader>Commodities</ng-template>
                  <ng-template mdbAccordionItemBody>
                    <ul>
                        <li><a routerLink="/coffee">Coffee</a></li>
                        <li><a routerLink="/sesame">Sesame</a></li>
                        <li><a routerLink="/red-kidney-bean">Red Kidney Bean</a></li>
                        <li><a routerLink="/white-pea-bean">White Pea Bean</a></li>
                        <li><a routerLink="/green-mung-bean">Green Mung Bean</a></li>
                        <li><a routerLink="/chickpeas">Chickpeas</a></li>
                        <li><a routerLink="/soya-bean">Soya Bean</a></li>
                        <li><a routerLink="/wheat">Wheat</a></li>
                        <li><a routerLink="/maize">Maize</a></li>
                        <li><a routerLink="/pinto-bean">Pinto Bean</a></li>
                        <li><a routerLink="/white-pigeon-pea">White Pigeon Pea</a>
                        </li>
                    </ul>
                  </ng-template>
                </mdb-accordion-item>
              </mdb-accordion>
        </div>
        <div class="col-md-9">
        </div>
    </div>

</div>