<mdb-accordion>
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Operations</ng-template>
      <ng-template mdbAccordionItemBody>
        <ul>
            <li><a routerLink="/warehouse-and-quality">Warehouse and Quality</a></li>
            <li><a routerLink="/central-depository">Central Depository</a></li>
            <li><a routerLink="/trading">Trading</a></li>
            <li><a routerLink="/clearing-and-settlement">Clearing and Settlement</a></li>
            <li><a routerLink="/compliance">Compliance</a></li>
        </ul>
      </ng-template>
    </mdb-accordion-item>
</mdb-accordion>
     