
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <app-about-us-nav></app-about-us-nav>
        </div>
        <div class="col-md-9">
            <div class="row">
                <h1> Laws and rules</h1>
            </div>
            <div class="row"> 
                <p> EECX’s establishment is founded on Proclamation No. 550/2007. This proclamation mandates 
                ECX to develop its own rules for the governance of its various operations. Further, the Ethiopia Commodity 
                Exchange Authority (ECEA) a regulatory body of the ECX was established by Proclamation 551/2007.
                The Rules of the Exchange developed by ECX provide the blueprint for all rules governing membership, 
                management, trading, warehousing, clearing and settlement, and other operations of ECX, in addition to 
                the conduct of its members. ECX maintains a careful approach to monitoring and tracking the adequacy and 
                performance of its members, as well as their behavior vis-à-vis their clients in the market. In line with 
                global best practices, ECX experts regularly conduct surveillance on market trends as well as conducting audit 
                and investigations on market operations to protect the market from manipulation, excessive speculation, fraud, 
                or other malpractice. Now, Ethiopia Commodity Exchange is rendering a decade-long modern trading service at 
                the head office and 22 branches. At the end of 2017/2018 fiscal year ECX has 632 male (70%) and 266 female 
                (30%) staff, totaling to 898. </p>
            </div>
            <div class="row">
                <h3>Authority Directives</h3>
            </div>
            <div class="row">
                The Ethiopian Commodity Exchange Authority has the powers and duties to extend recognition and oversight 
                of Exchange Actors (Members and their representatives), recognition and oversight of Clearing Institutions 
                (domestic banks or other financial institutions engaged in clearing and settlement of payments), oversight 
                of the Rules of the Exchange and regulation of Exchange-traded contracts, as well as regulation of the conduct
                 of investment advisors, consulting companies, law practices, accounting and audit professionals, as this conduct
                  relates to ECX business. In addition, the ECEA has the power to investigate wrongdoing and adjudicate cases 
                  falling under its jurisdiction or to refer criminal cases to the appropriate court. As part of its oversight, 
                  the Authority issues Directives regarding the various key areas.
        
            </div>
        </div>
    </div>
</div>