<div class="splitticker">
  <div class="stickyheader">Commodity Prices (T+1)</div>
  <div class="ticker-wrap">
      <div class="ticker">
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>
          <div class="ticker_item">
              3850938459338509 Item price 
          </div>

      </div>
  </div>
</div>