<nav class="container-fluid  cd-header fadeIn animated" onmouseover="hover();" onmouseout="unhover();">
    <!--  Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Navbar-Collapse"
            aria-expanded="false">
            <span class="fas fa-bars fa-2x"></span>
        </button>
        <a><img  src="assets/image/logo_white.png" alt="Ethiopia Commodity Exchange"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="Navbar-Collapse">
        <!-- Desktop Nav -->
        <ul id="Nav" class="nav  navbar-right hidden-xs hidden-sm">
            <!-- Home -->
            <li><a routerLink="/">Home</a></li>
            <!-- About us  -->
            <li class="dropdown">
                <a routerLink="/">About Us <i class="fas fa-angle-down"></i></a>
                <div class="mega-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-3">
                                <h5>About Us</h5>
                                <ul>
                                    <li><a routerLink="/message-from-ceo">Message from CEO</a></li>
                                    <li><a routerLink="/how-ecx-works">How ECX Works</a></li>
                                    <li><a routerLink="/laws-and-rules">Laws and Rules</a></li>
                                    <li><a routerLink="/governance">Governance</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Commodities -->
            <li class="dropdown">
                <a href="##">Commodities <i class="fas fa-angle-down"></i></a>
                <div class="mega-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-3">
                                <h5>Commodities</h5>
                                <ul>
                                    <li><a routerLink="/coffee">Coffee</a></li>
                                    <li><a routerLink="/sesame">Sesame</a></li>
                                    <li><a routerLink="/red-kidney-bean">Red Kidney Bean</a></li>
                                    <li><a routerLink="/white-pea-bean">White Pea Bean</a></li>
                                    <li><a routerLink="/green-mung-bean">Green Mung Bean</a></li>
                                    <li><a routerLink="/chickpeas">Chickpeas</a></li>
                                    <li><a routerLink="/soya-bean">Soya Bean</a></li>
                                    <li><a routerLink="/wheat">Wheat</a></li>
                                    <li><a routerLink="/maize">Maize</a></li>
                                    <li><a routerLink="/pinto-bean">Pinto Bean</a></li>
                                    <li><a routerLink="/white-pigeon-pea">White Pigeon Pea</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
             <!-- membership -->
             <li class="dropdown">
                <a href="##">Membership <i class="fas fa-angle-down"></i></a>
                <div class="mega-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-3">
                                <h5>Membership</h5>
                                <ul>
                                    <li><a routerLink="/being-a-client">Being a Client</a></li>
                                    <li><a routerLink="/how-tobe-member">How to be Member</a></li>
                                    <li><a routerLink="/certification">Certification</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Operations -->
            <li class="dropdown">
                <a href="##"> Operations <i class="fas fa-angle-down"></i></a>
                <div class="mega-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7"></div>
                            <div class="col-md-3">
                                <h5>Operations</h5>
                                <ul>
                                    <li><a routerLink="/warehouse-and-quality">Warehouse and Quality</a></li>
                                    <li><a routerLink="/central-depository">Central Depository</a></li>
                                    <li><a routerLink="/trading">Trading</a></li>
                                    <li><a routerLink="/clearing-and-settlement">Clearing and Settlement</a></li>
                                    <li><a routerLink="/compliance">Compliance</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- News & Events -->
            <li class="dropdown">
                <a href="##"> News & Events <i class="fas fa-angle-down"></i></a>
                <div class="mega-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-3">
                                <h5>News & Events</h5>
                                <ul> 
                                    <li><a routerLink="/news">News</a></li>
                                    <li><a routerLink="/announcement">Announcement</a></li>
                                    <li><a routerLink="/newsletter">Newsletter</a></li>
                                    <li><a routerLink="/events">Events</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Resources -->
            <li class="dropdown">
                <a href="##"> Resources <i class="fas fa-angle-down"></i></a>
                <div class="mega-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                                <h5>Resources</h5>
                                <ul>
                                    <li><a routerLink="/publications">Publications</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Career -->
            <li><a routerLink="/career">Career</a></li>
            <!-- Member -->
            <li><a routerLink="/member">Member</a></li>
        </ul>
        <ul id="Nav" class="nav navbar-nav navbar-right hidden-lg hidden-md">
            <li><a routerLink="/publications">Home</a></li>
            <li><a routerLink="/publications">About Us</a></li>
            <li><a routerLink="/publications">Commodities</a></li>
            <li><a routerLink="/publications">Membership</a></li>
            <li><a routerLink="/publications">Operations</a></li>
            <li><a routerLink="/publications">News & Events</a></li>
            <li><a routerLink="/publications">Resources</a></li>
            <li><a routerLink="/publications">Career</a></li>
            <li><a routerLink="/publications">Member</a></li>
        </ul>
    </div>
</nav>