<section id="" class="scene_area container-fluid no-padding">

    <!-- PC / Large Screen Slider -->
    <div id="large_slider" class="scene_layer carousel slide carousel-fade" data-ride="carousel" data-parallax="-0.20">
        <!-- Indicators -->
        <ol class="carousel-indicators hidden">
                                                <li data-target="#large_slider" data-slide-to="1" class="active"></li>

                                        </ol>


        <!-- Wrapper for slides http://placehold.it/2500x900  -->
        <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                        <a href="index.html">
                    <img class="img-responsive fill" src="assets/image/sliders/full-warehouse5.jpg"
                        alt="GoG-GCX Free SHS Supplier&#039;s Programme">

                    <div class="carousel-caption">
                        <div class="fadeIn animated delay">
                            <h1 class="slider-text-main">
                                GoG-GCX Free SHS Supplier&#039;s Programme                            </h1>
                            <p class="slider-text-sub">
                                Register to be a commodity supplier on the GoG-GCX Free SHS programme                            </p>
                                                    </div>
                    </div>
                </a>
        </div>
                                                <div class="item">
                                <a href="index.html">
                    <img class="img-responsive fill" src="assets/image/trading-jpg.jpg"
                        alt="Reliable Trading Platform">

                    <div class="carousel-caption">
                        <div class="fadeIn animated delay">
                            <h1 class="slider-text-main">
                                Reliable Trading Platform                            </h1>
                            <p class="slider-text-sub">
                                We Provide a Trading Platform That Ensures Reliable, Fair And Transparent Price Discovery.                            </p>
                                                    </div>
                    </div>
                </a>
        </div>
                                                <div class="item">
                                <a href="index.html">
                    <img class="img-responsive fill" src="assets/image/sliders/grains.jpg"
                        alt="GCX Adds Value To Commodities">

                    <div class="carousel-caption">
                        <div class="fadeIn animated delay">
                            <h1 class="slider-text-main">
                                GCX Adds Value To Commodities                            </h1>
                            <p class="slider-text-sub">
                                Through Providing Secured Storage As Well As Cleaning, Weighing And Grading Of Commodities.                            </p>
                                                    </div>
                    </div>
                </a>
        </div>
                                                <div class="item">
                                <a href="index.html">
                    <img class="img-responsive fill" src="assets/image/sliders/slider-partner-society.jpg"
                        alt="GCX Benefits Society">

                    <div class="carousel-caption">
                        <div class="fadeIn animated delay">
                            <h1 class="slider-text-main">
                                GCX Benefits Society                            </h1>
                            <p class="slider-text-sub">
                                By Expanding The Market Through Strategic Partnerships.                            </p>
                                                    </div>
                    </div>
                </a>
        </div>
                                                <div class="item">
                                <a href="index.html">
                    <img class="img-responsive fill" src="assets/image/sliders/full-warehouse5.jpg"
                        alt="GCX Benefits Members">

                    <div class="carousel-caption">
                        <div class="fadeIn animated delay">
                            <h1 class="slider-text-main">
                                GCX Benefits Members                            </h1>
                            <p class="slider-text-sub">
                                By Facilitating Market Access And Providing Greater Liquidity.                            </p>
                                                    </div>
                    </div>
                </a>
        </div>
            </div>

    <!-- Controls -->
    <a class="left carousel-control" href="index.html#large_slider" data-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="right carousel-control" href="index.html#large_slider" data-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
    </div>
</section>