<section id="Footer" class="container-fluid no-padding">
    <div class="container">
        <div class="row top">
            <div class="col-sm-2 text-center">
                <h5 class="bold main-text">Menu</h5><br>
                <ul class="list-unstyled">
                    <li><a href="gcx_com_default.html">Home</a></li>
                    <li><a href="who_we_are/who_we_are.html">About Us</a></li>
                    <li><a href="services/services.html">Our Services</a></li>
                    <li><a href="membership_process/membership_process.html">Membership</a></li>
                    <li><a href="market_intelligence/market_intelligence.html">Market Data</a></li>
                    <li><a href="commodity/commodity.html">Commodities</a></li>
                    <li><a href="career/career.html">Careers</a></li>
                    <li><a href="news.html">Media</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <!-- <li><a href="login" class="btn pumkin text-black btn-sm top main-text" data-toggle="modal"
                            data-target="#Sign_In">Sign In</a></li> -->
                </ul>
            </div>
            <div class="col-sm-3 text-center">
                <h5 class="bold main-text">Useful Links</h5><br>
                <ul class="list-unstyled">
                    <li><a href="commodity/commodity.html">Commodities</a></li>
                    <li><a href="membership_type/membership_type.html">Membership Types</a></li>
                    <li><a href="membership_process/membership_process.html">Membership Application Process</a></li>
                    <li><a href="gcx_com_default.html">Application Forms</a></li>
                    <li><a href="membership_process/membership_process.html">GCX Resources</a></li>
                    <li><a href="rules_regulations/rules_regulations.html">Rules &amp; Regulations</a></li>
                    <li><a href="procurement/procurement.html">Procurement</a></li>
                    <li><a href="news.html">News</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-offset-1 text-center">
                <h5 class="bold main-text">Location</h5><br>
                <address class="bottom">
                    <p>2nd Floor - Africa Trade House,</p>
                    <p>Corner of Cruickshank and Liberia Road</p>
                    <p>Ridge, Accra</p>
                    <p>Ghana - West Africa</p>
                    <p><strong>Digital Address :&nbsp;</strong>GA-077-0681</p>
                </address>
            </div>
            <div class="col-sm-3 text-center">
                <h5 class="bold main-text">Contact Us</h5><br>
                <address class="bottom">
                    <p>P.O. Box CNT 8720<br />
                        Ghana - West Africa</p>
                    <a href="mailto:contact@gcx.com.gh">
                        contact@gcx.com.gh</a><br><br>
                </address>
                <address class="top">
                    <abbr title="Phone">P:</abbr> <b>
                        0302690670 0302690674 0302690675</b><br>
                </address>
            </div>
        </div>
    </div>
<!-- Copyright -->
<div class="container-fluid black text-center">
<div class="container pad">
    <ul class="social-network social-circle">
        <li><a href="https://www.facebook.com/GCXGhana" title="Facebook" target="_blank"><i
                    class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.twitter.com/@gcx_official" title="Twitter" target="_blank"><i
                    class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/gcx_official" title="Instagram" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
        <li><a href="https://gh.linkedin.com/company/ghana-commodity-exchange" title="LinkedIn" target="_blank"><i
                    class="fab fa-linkedin"></i></a></li>
    </ul>
    <p class="">Copyright &copy; 2018 - 2023 Ghana Commodity Exchange. All Rights Reserved </p>
</div>
</div>
</section>