<div class="container">
    <div class="row">
        <div class="col-md-3">
            <app-about-us-nav></app-about-us-nav>
        </div>
        <div class="col-md-9">
            <div class="row">
                <h1> How ECX Works</h1>
            </div>
            <div class="row">
                <p> The Ethiopia Commodity Exchange (ECX) is a new initiative for Ethiopia and the first of its kind in Africa.  The ECX is a unique partnership of market actors, the Members of the Exchange, and its main promoter, the Government of Ethiopia. ECX represents the future of Ethiopia, bringing integrity, security, and efficiency to the market. ECX creates opportunities for unparalleled growth in the commodity sector and linked industries, such as transport and logistics, banking and financial services, and others.

                    ECX assures all commodity market players the security they need in the market through providing a secure and reliable End-to-End system for handling, grading, and storing commodities, matching offers and bids for commodity transactions, and a risk-free payment and goods delivery system to settle transactions, while serving all fairly and efficiently.
                    
                    ECX creates trust and transparency through aggressive market data dissemination to all market actors, through clearly defined rules of trading, warehousing, payments and delivery and business conduct, and through an internal dispute settlement mechanism. ECX provides market integrity at three important levels: the integrity of the product itself, the integrity of the transaction, and the integrity of the market actors.
                    
                    The Ethiopia Commodity Exchange (ECX) commenced trading operations in April 2008. ECX has invited membership of the agricultural and trade industry.
                    
                    The Ethiopian Commodity Exchange was started to benefit and modernize the way Ethiopia was trading it’s most valuable assets, it’s commodities. Ethiopia needed a change from the traditional means of trading to better support the needs of all those involved in the trading and production.
                    
                    Before ECX was established agricultural markets in Ethiopia had been characterized by high costs and high risks of transacting, forcing much of Ethiopia into global isolation. With only one third of output reaching the market, commodity buyers and sellers tended to trade only with those they knew, to avoid the risk of being cheated or default. Trade is done on the basis of visual inspection because there was no assurance of product quality or quantity, this drove up market costs, leading to high consumer prices. For their part, small-scale farmers, who produce 95 percent of Ethiopia’s output, came to market with little information and are at the mercy of merchants in the nearest and only market they know, unable to negotiate better prices or reduce their market risk.
                    
                    ECX is developing a new method of exchange and a safer one for all who trade on it.
                    
                    A marketing system that coordinates better, that links faster, and that protects the interests of both sides of the trade. It is time for a marketing system that is transparent, efficient, and innovative, that will take Ethiopian agriculture into the new Millennium. Ethiopia, once a commercial trading hub in antiquity linking markets of East and West, can again claim a place in the global market arena.
                    
                    The Ethiopia Commodity Exchange, (ECX), is a marketplace, where buyers and sellers come together to trade, assured of quality, delivery and payment. The vision of ECX is to transform the Ethiopian economy by becoming a global commodity market of choice. ECX’s mission is to connect all buyers and sellers in an efficient, reliable, and transparent market by harnessing innovation and technology, and based on continuous learning, fairness, and commitment to excellence.
                    
                    Vision: To become a leading and dynamic African Exchange of Choice
                    
                    Mission: To provide a modern, efficient, transparent and reliable market platform and warehousing service through adaptation of technology, excellence in innovation and with integrity
                    
                    Values
                    
                        Customer Focused
                        Integrity
                        Accountability
                        Innovation
                        Commitment to Excellence
                        Dynamism 
                        Team Work
                        Passion
                    
                    ECX promotes and enables the following market services:
                    
                    Market integrity:  by guaranteeing the product grade and quantity and Operating a system of daily clearing and settling of contracts.
                    Market efficiency:   by operating a trading system where buyers and sellers can coordinate in a seamless way on the basis of   standardized contracts.
                    Market transparency: by disseminating market information in real time to all market players.
                    Risk management by offering contracts for future delivery, providing sellers and buyers a way to hedge against price risk.
                </p>
            </div>
        </div>
    </div>
</div>
