<section id="Footer" class="container-fluid">
    <div class="container">
        <div class="row top">
            <div class="col-sm-4 text-center">
                <h5 class="bold main-text">Menu</h5><br>
                <ul class="list-unstyled">
                    <li><a routerLink="#">Home</a></li>
                    <li><a routerLink="#">About Us</a></li>
                    <li><a routerLink="#">Commodities</a></li>
                    <li><a routerLink="#">Membership</a></li>
                    <li><a routerLink="#">Operations</a></li>
                    <li><a routerLink="#">News & Events</a></li>
                    <li><a routerLink="#">Resources</a></li>
                    <li><a routerLink="#">Career</a></li>
                    <li><a routerLink="#">Member</a></li>
                </ul>
            </div>
            <div class="col-sm-4 text-center">
                <h5 class="bold main-text"> Location & Contact Us</h5><br>
                <address class="bottom">
                    <p>ECX Head Office</p>
                        <p>Al-Sam Tower 2, 3rd Floor</p>
                        <p>Lideta</p>
                        <p>Addis Ababa</p>
                        <p>Ethiopia</p>
                        <p>Tel: +251 11 554 7001</p>
                        <p>Fax: +251 11 554 7010</p>
                        <p> P.O.Box: 17341</p>
                </address>
            </div>
            <div class="col-sm-4 text-center">
                <h5 class="bold main-text">Useful Links</h5><br>
                <ul class="list-unstyled">
                    <li><a href="#">Use full links !</a></li>
                    <li><a href="#">Use full links !</a></li>
                    <li><a href="#">Use full links !</a></li>
                    <li><a href="#">Use full links !</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
<!-- Copyright -->
<div class="container-fluid black text-center">
<div class="container pad">
    <p class="">Copyright &copy; Ethiopia Commodity Exchange. All Rights Reserved </p>
</div>
</div>
</section>