<section id="" class="scene_area container-fluid no-padding">
    <!-- PC / Large Screen Slider -->
    <div id="large_slider" class="scene_layer carousel slide carousel-fade" data-ride="carousel" data-parallax="-0.20">
        <!-- Indicators -->
        <ol class="carousel-indicators hidden">
            <li data-target="#large_slider" data-slide-to="1" class="active"></li>
        </ol>
        <!-- Wrapper for slides http://placehold.it/2500x900  -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="">
                    <img class="img-responsive fill" src="assets/image/sliders/full-warehouse5.jpg"
                        alt="">
                </a>
            </div>
            <div class="item">
                <a href="index.html">
                    <img class="img-responsive fill" src="assets/image/sliders/slide01.jpg"
                        alt="">
                </a>
            </div>
            <div class="item">
                <a href="">
                    <img class="img-responsive fill" src="assets/image/sliders/grains.jpg"
                        alt="">
                </a>
            </div>
            <div class="item">
                <a href="">
                    <img class="img-responsive fill" src="assets/image/sliders/slide02.jpg"
                        alt="">
                </a>
            </div>
            <div class="item">
                <a href="">
                    <img class="img-responsive fill" src="assets/image/sliders/full-warehouse5.jpg"
                        alt="">
                </a>
            </div>
        </div>

    <!-- Controls -->
    <a class="left carousel-control" href="index.html#large_slider" data-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="right carousel-control" href="index.html#large_slider" data-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
    </div>
</section>